<table class="min-w-full bg-white border border-gray-200 divide-y divide-gray-200">
  <thead class="bg-gray-50">
    <tr>
      <% @headers.each do |header| %>
        <th class="py-3 px-6 font-bold text-gray-700 text-left">
          <%= header %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody class="divide-y divide-gray-200">
    <% @data.each_with_index do |record, index| %>
      <tr class="<%= index.even? ? 'bg-gray-100' : 'bg-white' %>">
        <% @attributes.each do |attribute| %>
          <td class="py-4 px-6">
            <%= record[attribute] %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
